<ion-content>
  <app-item-card item="Groceries" notes="cucumber, apples, eggplant, cheese, meat, more meat" dueDate="Tomorrow"
    createdDate="Yesterday" creator="Sümeyye Acar" [isInvitation]="true">
  </app-item-card>
  <app-item-card item="Jogging" notes="Amsterdam to Cologne" dueDate="Tomorrow"
  createdDate="19.09.1997" creator="Sümeyye Acar" [isInvitation]="true">
</app-item-card>
<app-item-card item="Eat an Apple" notes="to keep the doc away" dueDate="Tomorrow"
createdDate="18.10.1992" creator="Sümeyye Acar" [isInvitation]="true">
</app-item-card>
</ion-content>