<ion-header>
  <app-header headerName="Requests"></app-header>
</ion-header>

<ion-content>
  <ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="user-requests">
        <ion-icon name="people-circle-outline"></ion-icon>
        <ion-label>User</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="todo-requests">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <ion-label>Todo</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
