<ion-header>
  <app-header headerName="Doers"></app-header>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-item-card
  item="Groceries"
  notes="cucumber, apples, eggplant, cheese, meat, more meat"
  dueDate="Tomorrow"
  createdDate="Yesterday"
  creator="you"
  [isInvitation]="false"
  ></app-item-card>

  <app-item-card
  item="Clean up"
  notes="Living Room, Kitchen and Bath room"
  dueDate="Tomorrow"
  createdDate="Yesterday"
  creator="you"
  ></app-item-card>

  <app-item-card
  item="Work out"
  notes="Biceps, Chest"
  dueDate="Today"
  createdDate="Today"
  creator="you"
  ></app-item-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="routeToNewItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

