<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="requests">
        <ion-icon name="mail-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="contacts">
        <ion-icon name="people-circle-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="history">
        <ion-icon name="hourglass-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
